Repository taptima/fsd-next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

.lintstagedrc.yml:

"*.{js,jsx,ts,tsx}":
  - pnpm run lint-js
  - pnpm run format --write

"*.json":
  - pnpm run format --write

"*{css,scss}":
  - pnpm run lint-styles
  - pnpm run format --write

chore(FSK-64): add basic configuration
  .eslintrc.json
  config/jest/jest.config.ts
  config/jest/jestEmptyComponent.tsx
  config/jest/setupTests.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-64): add basic tests
  config/jest/jest.config.ts
  package.json
  pnpm-lock.yaml
  src/shared/lib/helpers/initializeDevtoolsOptions/initializeDevtoolsOptions.test.ts
  src/shared/lib/helpers/style/createCssVariable.test.ts
  src/shared/lib/helpers/withGeneratedSelectors/withGeneratedSelectors.test.ts
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-64): add store testing example
  .eslintrc.json
  __mocks__/zustand.ts
  package.json
  pnpm-lock.yaml
  src/entities/Product/model/store/useProductsStore.test.ts
  src/shared/lib/helpers/withGeneratedSelectors/withGeneratedSelectors.test.ts
  tsconfig.json
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-64): add msw server, add component tests
  .eslintrc.json
  __mocks__/zustand.ts
  config/jest/jest.config.ts
  config/jest/setupMockServer.ts
  config/jest/setupTests.ts
  package.json
  pnpm-lock.yaml
  src/pages/ProductsPage/model/services/useGetProductPageProductsSWR.test.ts
  src/pages/ProductsPage/ui/ProductsPage/ProductsPage.test.tsx
  src/pages/ProductsPage/ui/ProductsPage/index.tsx
  src/shared/lib/helpers/test/mockServer.ts
  src/shared/mock/products.ts
Due: pnpm run lint-js, pnpm run format --write

refactor(FSK-64): resolve threads
  next.config.js
  src/app/api/products/model/mapper/index.ts
  src/app/api/products/model/schema/index.ts
  src/app/api/products/route.ts
  src/shared/config/project/createStore/index.ts
  src/shared/const/env.ts
  src/shared/hooks/form/useInputErrors.ts
  src/shared/lib/helpers/decode/index.ts
Due: pnpm run lint-js, pnpm run format --write

feat: create dependabot.yml
  .github/dependabot.yml
Due: none

chore: update linter configs
  .eslintrc.json
  .stylelintrc.json
Due: pnpm run format --write

fix: createCssVariable export
  src/shared/lib/helpers/style/createCssVariable.test.ts
  src/shared/lib/helpers/style/createCssVariable.ts
Due: pnpm run lint-js, pnpm run format --write

chore: remove datePicker type
  src/shared/types/datePicker.ts
Due: pnpm run lint-js, pnpm run format --write

chore: add IconProps type
  src/shared/types/icon.ts
Due: pnpm run lint-js, pnpm run format --write

chore: fix lock file
  pnpm-lock.yaml
Due: none

chore(FSK-67): update patches
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

chore(FSK-67): update linters dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

chore(FSK-67): update storybook dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

chore(FSK-67): update minor dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

chore: remove branch name validation
  .husky/pre-commit
  .validate-branch-namerc.json
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

refactor: modify exception handling 'console.groupCollapsed'
  src/shared/config/project/logger/index.ts
Due: pnpm run lint-js, pnpm run format --write

feat: setup github actions
  .github/workflows/checks.yml
Due: none

ci: change test workflow
  .github/workflows/checks.yml
Due: none

ci: create composite action for install dependecies
  .github/actions/pnpm-install.yml
  .github/workflows/checks.yml
Due: none

ci: fix env variables usage
  .github/actions/pnpm-install.yml
  .github/workflows/checks.yml
Due: none

ci: change custom actions structure
  .github/actions/pnpm-install/action.yml
Due: none

ci: specify shell for composite action
  .github/actions/pnpm-install/action.yml
Due: none

build(deps): rebase on master
  pnpm-lock.yaml
Due: none

style: run linter
  src/entities/Product/ui/ProductsList/index.tsx
  src/pages/ProductsPage/model/services/useGetProductPageProductsSWR.test.ts
  src/shared/config/project/createStore/index.ts
  src/shared/lib/api/GraphQL/index.ts
  src/shared/lib/helpers/initializeDevtoolsOptions/initializeDevtoolsOptions.test.ts
Due: pnpm run lint-js, pnpm run format --write

chore: remove loki
  .loki/.gitignore
  .loki/reference/chrome_iphone7_pages_ArticlesPage_ArticlesPage_Primary.png
  .loki/reference/chrome_laptop_pages_ArticlesPage_ArticlesPage_Primary.png
  README.md
  loki.config.js
  package.json
  pnpm-lock.yaml
  scripts/generate-visual-json-report.js
Due: pnpm run lint-js, pnpm run format --write

chore: remove unused directories
  .eslintrc.json
  .lintignore
  __mocks__/zustand.ts
  tsconfig.json
Due: pnpm run lint-js, pnpm run format --write

chore: remove unused files and tests from project
  config/jest/setupMockServer.ts
  config/jest/setupTests.ts
  package.json
  pages/README.md
  pnpm-lock.yaml
  src/app/api/products/route.ts
  src/app/articles/loading.tsx
  src/app/articles/page.tsx
  src/app/products/loading.tsx
  src/app/products/page.tsx
  src/entities/.gitkeep
  src/entities/Product/index.ts
  src/entities/Product/model/services/useGetProductsSWR.ts
  src/entities/Product/model/store/useProductsStore.test.ts
  src/entities/Product/model/store/useProductsStore.ts
  src/entities/Product/model/types/product.ts
  src/entities/Product/model/types/schema.ts
  src/entities/Product/model/types/store.ts
  src/entities/Product/ui/ProductsList/index.tsx
  src/entities/Product/ui/ProductsList/styles.module.scss
  src/pages/.gitkeep
  src/pages/ArticlesPage/index.ts
  src/pages/ArticlesPage/model/services/useGetArticlesPageProductsSWR.ts
  src/pages/ArticlesPage/model/types/index.ts
  src/pages/ArticlesPage/ui/ArticlesPage/ArticlesPage.stories.tsx
  src/pages/ArticlesPage/ui/ArticlesPage/index.tsx
  src/pages/ProductsPage/index.ts
  src/pages/ProductsPage/model/services/useGetProductPageProductsSWR.test.ts
  src/pages/ProductsPage/model/services/useGetProductPageProductsSWR.ts
  src/pages/ProductsPage/model/types/index.ts
  src/pages/ProductsPage/ui/ProductsPage/ProductsPage.test.tsx
  src/pages/ProductsPage/ui/ProductsPage/index.tsx
  src/shared/lib/api/swr/useCustomSWR.ts
  src/shared/lib/helpers/initializeDevtoolsOptions/initializeDevtoolsOptions.test.ts
  src/shared/lib/helpers/style/createCssVariable.test.ts
  src/shared/lib/helpers/test/mockServer.ts
  src/shared/mock/products.ts
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

build(deps): update next to 14.1.0
  package.json
  patches/next@13.5.2.patch
  patches/next@14.1.0.patch
  pnpm-lock.yaml
  src/app/@types/global.d.ts
  src/shared/types/utils.ts
Due: pnpm run lint-js, pnpm run format --write

build: update clsx package to version 2.1.0
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(deps): update @next/bundle-analyzer
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(deps): update commitlint dependencies version
  .commitlintrc.yml
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(deps): update stylelint dependencies version
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(deps): update async-mutex to version 0.4.1
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(deps): upgrade TypeScript ESLint parser and plugin
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(deps): update prettier version to 3.2.4
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write
