Repository taptima/fsd-next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

.lintstagedrc.yml:

"*.{js,jsx,ts,tsx}":
  - pnpm run lint-js
  - pnpm run format --write

"*.json":
  - pnpm run format --write

"*{css,scss}":
  - pnpm run lint-styles
  - pnpm run format --write

build(FSK-82): add raw svgs support
  next.config.ts
Due: pnpm run lint-js, pnpm run format --write

fix(FSK-82): meta svgs breaking build
  config/build/svgr.js
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-82): add dev layout
  .env
  src/app/styles/_colors.scss
  src/features/layout/DevLayout/index.tsx
  src/features/layout/DevLayout/styles.module.scss
  src/shared/assets/images/.gitkeep
  src/shared/assets/images/gear.png
  src/shared/const/env.ts
  src/widgets/Header/index.tsx
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

build(FSK-82): add base url env variable
  .env
  src/app/meta.ts
  src/shared/const/env.ts
  src/shared/lib/helpers/getAbsoluteUrl/index.ts
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-82): replace imask phone number input with antd formatters
  package.json
  pnpm-lock.yaml
  src/entities/User/model/validation/rules.ts
  src/features/inputs/model/const/phoneNumberFormatters.ts
  src/features/inputs/model/types/formatters.ts
  src/features/inputs/model/types/valueType.ts
  src/pages/admin/EmployeesPage/ui/Modals/common/EmployeeForm/index.tsx
  src/shared/lib/validation/rules.ts
  src/shared/ui/inputs/InputNumber/index.tsx
  src/shared/ui/inputs/InputNumber/styles.module.scss
  src/shared/ui/inputs/PhoneNumberInput/index.tsx
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

feat(FSK-82): add dynamic tooltip
  src/shared/ui/display/LabelWithTooltip/index.tsx
  src/shared/ui/display/Table/ui/Actions/Action/index.tsx
  src/shared/ui/display/Tooltip/dynamic.ts
  src/shared/ui/display/Tooltip/index.tsx
Due: pnpm run lint-js, pnpm run format --write

docs(FSK-82): v2.0.0
  CHANGELOG.md
  package.json
Due: pnpm run format --write

build(FSK-82): replace next patch with global types
  package.json
  patches/next@15.4.10.patch
  pnpm-lock.yaml
  src/@types/global.d.ts
  tsconfig.json
Due: pnpm run lint-js, pnpm run format --write

build(FSK-82): rename metrics var to analytics
  .env
  src/features/seo/ui/WebAnalytics/index.tsx
  src/shared/const/env.ts
Due: pnpm run lint-js, pnpm run format --write

fix(FSK-82): typo
  package.json
  src/pages/ErrorPage/model/mapper/mapStatusToProps.ts
Due: pnpm run lint-js, pnpm run format --write

build(FSK-82): inline analyze var
  .env
  package.json
Due: pnpm run format --write

feat(FSK-82): add page meta helper & preview image
  src/app/layout.tsx
  src/app/meta.ts
  src/app/page.tsx
  src/features/seo/model/const/meta.ts
  src/features/seo/model/helper/getPageMetadata.ts
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-82): add dev layout
  .env
  src/app/styles/_colors.scss
  src/features/layout/DevLayout/index.tsx
  src/features/layout/DevLayout/styles.module.scss
  src/shared/assets/images/.gitkeep
  src/shared/assets/images/gear.png
  src/shared/const/env.ts
  src/shared/styles/colors.ts
  src/widgets/Header/index.tsx
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

fix(FSK-82): example catalog ssr
  src/entities/Example/api/request/fetchCatalog.ts
  src/entities/Example/api/swr/useCatalog.ts
  src/entities/Example/api/types/filter.ts
  src/shared/types/api/filter.ts
Due: pnpm run lint-js, pnpm run format --write

chore(FSK-85): rename `pages` to `views`
  src/app/error.tsx
  src/app/example/catalog/[id]/page.tsx
  src/app/example/catalog/page.tsx
  src/app/example/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/entities/Example/api/swr/useCatalog.ts
  src/views/ErrorPage/index.tsx
  src/views/ErrorPage/model/mapper/mapStatusToProps.ts
  src/views/ErrorPage/model/type/variant.ts
  src/views/ErrorPage/styles.module.scss
  src/views/HomePage/index.tsx
  src/views/example/CatalogPage/client.tsx
  src/views/example/CatalogPage/index.tsx
  src/views/example/CatalogPage/model/const/filter.ts
  src/views/example/CatalogPage/model/store/useCatalogPageStore.ts
  src/views/example/CatalogPage/ssr.tsx
  src/views/example/ExamplePage/index.tsx
  src/views/example/ItemPage/client.tsx
  src/views/example/ItemPage/index.tsx
  src/views/example/ItemPage/ssr.tsx
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

build(FSK-84): update dependencies & engines
  .eslintrc.json
  .gitattributes
  .nvmrc
  .prettierignore
  .stylelintrc.json
  eslint.config.mjs
  next.config.ts
  package.json
  pages/README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/example/catalog/[id]/page.tsx
  src/app/example/catalog/page.tsx
  src/app/example/page.tsx
  src/app/styles/_normalize.scss
  src/entities/Example/api/swr/useCatalog.ts
  src/shared/config/project/createStore/index.ts
  src/shared/lib/api/client/FrontendApiClient.ts
  src/shared/types/store.ts
  src/shared/ui/display/BlockingLoader/styles.module.scss
  src/shared/ui/display/Loader/styles.module.scss
  src/shared/ui/navigation/Link/ButtonLink/index.tsx
  src/views/ErrorPage/index.tsx
  src/views/ErrorPage/styles.module.scss
  src/views/example/CatalogPage/model/store/useCatalogPageStore.ts
  tsconfig.json
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

chore(FSK-84): prevent svgo from optimizing `.raw` svgs on commit
  .lintstagedrc.yml
Due: none

chore(FSK-84): add version verification
  .husky/pre-commit
  package.json
  scripts/verify-release-version.cjs
Due: pnpm run format --write

chore(FSK-84): sync colors on commit
  .lintstagedrc.yml
Due: none

feat(FSK-84): add `withQuery` helper
  src/shared/lib/helpers/withQuery/index.ts
Due: pnpm run lint-js, pnpm run format --write

fix(FSK-84): dev layout env
  src/shared/const/env.ts
Due: pnpm run lint-js, pnpm run format --write

fix(FSK-84): extra css
  src/features/layout/DevLayout/styles.module.scss
  src/shared/styles/font.scss
Due: pnpm run format --write, pnpm run lint-styles

chore(FSK-84): add container classname
  src/shared/ui/display/Container/index.tsx
Due: pnpm run lint-js, pnpm run format --write

chore(FSK-84): update page types
  src/app/example/catalog/[id]/meta.ts
  src/app/example/catalog/[id]/page.tsx
  src/shared/lib/hooks/usePageId.ts
  src/shared/lib/hooks/usePageSlug.ts
  src/shared/types/page.ts
  src/views/example/ItemPage/index.tsx
  src/views/example/ItemPage/ssr.tsx
Due: pnpm run lint-js, pnpm run format --write

chore(FSK-84): import theme directly to allow for hot-reload
  .lintstagedrc.yml
  scripts/sync-colors.js
  src/app/layout.tsx
  src/app/styles/colors.scss
  src/app/styles/global.scss
  src/app/styles/index.scss
  src/app/styles/normalize.scss
  src/app/styles/transitions.scss
  src/app/styles/variables.scss
  src/app/styles/zIndex.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

build(FSK-84): update github checks engines
  .github/workflows/checks.yml
Due: none

docs(FSK-84): v3.0.0
  CHANGELOG.md
  package.json
Due: pnpm run format --write

build(FSK-84): update dependencies & engines
  .eslintrc.json
  .gitattributes
  .nvmrc
  .prettierignore
  .stylelintrc.json
  eslint.config.mjs
  next.config.ts
  package.json
  pages/README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: pnpm run lint-js, pnpm run format --write

style(FSK-84): run linters
  src/app/(public)/example/catalog/[id]/page.tsx
  src/app/(public)/example/catalog/page.tsx
  src/app/(public)/example/page.tsx
  src/app/(public)/page.tsx
  src/app/styles/_normalize.scss
  src/entities/Blockable/model/helper/getModalBlockAction.tsx
  src/entities/Example/api/swr/useCatalog.ts
  src/features/layout/AdminLayout/index.tsx
  src/shared/lib/api/client/FrontendApiClient.ts
  src/shared/types/store.ts
  src/shared/ui/display/BlockingLoader/styles.module.scss
  src/shared/ui/display/Loader/styles.module.scss
  src/shared/ui/display/Table/index.tsx
  src/shared/ui/display/Table/styles.module.scss
  src/shared/ui/display/Table/ui/Actions/Action/utils.ts
  src/shared/ui/feedback/Screen/ui/TableWrapper/styles.module.scss
  src/shared/ui/inputs/Button/styles.module.scss
  src/views/ErrorPage/index.tsx
  src/views/ErrorPage/styles.module.scss
  src/views/admin/EmployeesPage/api/swr/useEmployees.ts
  src/views/admin/EmployeesPage/model/helper/handleEmployeeSorter.ts
  src/views/admin/EmployeesPage/model/mapper/mapEmployeeToForm.ts
  src/views/admin/EmployeesPage/ui/EmployeesTable/Actions/index.tsx
  src/views/admin/EmployeesPage/ui/EmployeesTable/content.tsx
  src/views/admin/EmployeesPage/ui/EmployeesTable/index.tsx
  src/views/admin/EmployeesPage/ui/Modals/AddEmployeeModal/index.tsx
  src/views/admin/EmployeesPage/ui/Modals/BlockEmployeeModal/index.tsx
  src/views/admin/EmployeesPage/ui/Modals/ChangeEmployeePasswordModal/index.tsx
  src/views/admin/EmployeesPage/ui/Modals/DeleteEmployeeModal/index.tsx
  src/views/admin/EmployeesPage/ui/Modals/EditEmployeeModal/index.tsx
  src/views/admin/EmployeesPage/ui/Modals/UnblockEmployeeModal/index.tsx
  src/views/admin/EmployeesPage/ui/Modals/ViewEmployeeModal/index.tsx
  src/views/admin/EmployeesPage/ui/Modals/common/EmployeeForm/index.tsx
  src/views/admin/SignInPage/ui/Form/index.tsx
  src/views/example/CatalogPage/model/store/useCatalogPageStore.ts
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles
