Repository taptima/fsd-next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

.lintstagedrc.yml:

"*.{js,jsx,ts,tsx}":
  - pnpm run lint-js
  - pnpm run format --write

"*.json":
  - pnpm run format --write

"*{css,scss}":
  - pnpm run lint-styles
  - pnpm run format --write

feat(FSK-77): update validation, add plurals
  src/shared/const/plurals.ts
  src/shared/lib/validation/emailValidation.ts
  src/shared/lib/validation/fileValidation.ts
  src/shared/lib/validation/messages.ts
  src/shared/lib/validation/nameValidation.ts
  src/shared/lib/validation/passwordValidation.ts
  src/shared/lib/validation/phoneValidation.ts
  src/shared/lib/validation/usernameValidation.ts
  src/shared/lib/validation/usernameValidationSchema.ts
Due: pnpm run lint-js, pnpm run format --write

build(FSK-77): update colors, add `sync-colors` script
  package.json
  scripts/sync-colors.js
  src/app/styles/_colors.scss
  src/shared/styles/colors.ts
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

feat(FSK-77): add example form, update base components
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/features/form/api/swr/keys.ts
  src/features/form/api/swr/useSubmitRequest.ts
  src/features/form/model/const/form.ts
  src/features/form/model/mapper/mapExampleFormToPayload.ts
  src/features/form/model/types/form.ts
  src/features/form/model/types/payload.ts
  src/features/form/model/validation/exampleFormValidation.ts
  src/features/form/ui/ExampleForm/index.tsx
  src/features/form/ui/ExampleForm/styles.module.scss
  src/shared/lib/hooks/form/useFieldErrors.ts
  src/shared/lib/hooks/form/useForm.ts
  src/shared/lib/validation/fileValidation.ts
  src/shared/lib/validation/messages.ts
  src/shared/styles/font.scss
  src/shared/types/form.ts
  src/shared/ui/controlled/.gitkeep
  src/shared/ui/controlled/PhoneNumberInput/index.tsx
  src/shared/ui/display/BlockingLoader/styles.module.scss
  src/shared/ui/display/Loader/Loader.stories.tsx
  src/shared/ui/display/Loader/Wrapper/index.tsx
  src/shared/ui/display/Loader/Wrapper/styles.module.scss
  src/shared/ui/display/Loader/index.tsx
  src/shared/ui/display/Loader/styles.module.scss
  src/shared/ui/inputs/Button/Button.stories.tsx
  src/shared/ui/inputs/Button/index.tsx
  src/shared/ui/inputs/Button/styles.module.scss
  src/shared/ui/inputs/Button/utils.ts
  src/shared/ui/inputs/Input/index.tsx
  src/shared/ui/inputs/PhoneNumberInput/index.tsx
  src/shared/ui/inputs/common/FieldWrapper/index.tsx
  src/shared/ui/inputs/common/FieldWrapper/styles.module.scss
  src/shared/ui/navigation/Link/ButtonLink/ButtonLink.stories.tsx
  src/shared/ui/navigation/Link/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

feat(FSK-77): add base layout & error pages
  src/app/error.tsx
  src/app/not-found.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/app/styles/_variables.scss
  src/pages/ErrorPage/index.tsx
  src/pages/ErrorPage/model/mapper/mapStatusToProps.ts
  src/pages/ErrorPage/model/type/variant.ts
  src/pages/ErrorPage/styles.module.scss
  src/shared/const/pageRoutes.ts
  src/shared/ui/inputs/Button/styles.module.scss
  src/widgets/.gitkeep
  src/widgets/Footer/index.tsx
  src/widgets/Header/index.tsx
  src/widgets/Header/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

refactor(FSK-77): move meta constants
  src/app/meta.ts
  src/features/seo/model/const/analytics.ts
  src/features/seo/model/const/meta.ts
  src/features/seo/ui/WebAnalytics/index.tsx
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-77): add base web analytics
  .env
  src/app/font.ts
  src/app/layout.tsx
  src/app/styles.module.scss
  src/features/seo/model/const/seo.ts
  src/features/seo/ui/WebAnalytics/index.tsx
  src/shared/assets/images/.gitkeep
  src/shared/const/env.ts
  src/shared/const/query.ts
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

chore(FSK-77): update graphql client to retain search param in production
  src/shared/lib/api/GraphQL/index.ts
  src/shared/lib/helpers/invalidateWithKey/index.ts
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-77): add container component
  src/shared/ui/display/Container/index.tsx
  src/shared/ui/display/Container/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

build(FSK-77): lock next version
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(FSK-77): update image config
  next.config.ts
Due: pnpm run lint-js, pnpm run format --write

docs(FSK-77): update changelog for v1.1.0
  CHANGELOG.md
  package.json
Due: pnpm run format --write

build(FSK-77): fix `pnpm-install` action
  .github/actions/pnpm-install/action.yml
Due: none

build(FSK-77): add `sync-colors` script
  package.json
  scripts/sync-colors.js
  src/shared/styles/colors.ts
Due: pnpm run lint-js, pnpm run format --write

build(FSK-77): add `.npmrc` to lock `autoInstallPeers`
  .npmrc
Due: none

feat(FSK-77): add `PhoneNumberInput`, drop `MaskedInput`
  package.json
  pnpm-lock.yaml
  src/shared/lib/validation/messages.ts
  src/shared/ui/inputs/MaskedInput/index.tsx
  src/shared/ui/inputs/PhoneNumberInput/index.tsx
  src/shared/ui/inputs/PhoneNumberInput/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

feat(FSK-77): add base layout & error pages
  next.config.ts
  src/app/(public)/[...not-found]/page.tsx
  src/app/(public)/error.tsx
  src/app/(public)/layout.tsx
  src/app/(public)/not-found.tsx
  src/app/(public)/page.tsx
  src/app/(public)/styles.module.scss
  src/app/styles/_variables.scss
  src/pages/ErrorPage/index.tsx
  src/pages/ErrorPage/model/mapper/mapStatusToProps.ts
  src/pages/ErrorPage/model/type/variant.ts
  src/pages/ErrorPage/styles.module.scss
  src/pages/public/HomePage/index.tsx
  src/shared/ui/inputs/Button/styles.module.scss
  src/widgets/Footer/index.tsx
  src/widgets/Header/index.tsx
  src/widgets/Header/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

feat(FSK-77): add base web analytics
  .env
  src/app/(public)/layout.tsx
  src/app/font.ts
  src/app/layout.tsx
  src/features/seo/model/const/seo.ts
  src/features/seo/ui/WebAnalytics/index.tsx
  src/shared/assets/images/.gitkeep
  src/shared/const/env.ts
  src/shared/const/query.ts
Due: pnpm run lint-js, pnpm run format --write

fix(FSK-77): hide form item message via prop instead of using empty rules
  src/shared/lib/validation/rules.ts
  src/shared/ui/inputs/FormItem/index.tsx
  src/shared/ui/inputs/FormItem/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

chore(FSK-77): remove inputs autofill styling, refactor code
  src/shared/lib/helpers/getFullName/index.ts
  src/shared/lib/validation/messages.ts
  src/shared/lib/validation/rules.ts
  src/shared/types/form.ts
  src/shared/ui/display/Table/index.tsx
  src/shared/ui/inputs/Input/index.tsx
  src/shared/ui/inputs/PasswordInput/index.tsx
  src/shared/ui/inputs/PasswordInput/styles.module.scss
  src/shared/ui/inputs/common/input.module.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

build(FSK-77): add `.npmrc` to lock `autoInstallPeers`
  .npmrc
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: pnpm run lint-js, pnpm run format --write

docs(FSK-77): update 1.1.0 with `.npmrc` entry
  CHANGELOG.md
Due: none

build(FSK-79): resolve CVE-2025-66478
  .npmrc
  CHANGELOG.md
  package.json
  patches/next@15.4.6.patch
  patches/next@15.4.8.patch
  pnpm-lock.yaml
Due: pnpm run format --write

build(FSK-79): resolve CVE-2025-66478
  CHANGELOG.md
  package.json
  patches/next@15.4.5.patch
  patches/next@15.4.8.patch
  pnpm-lock.yaml
Due: pnpm run format --write

build(FSK-80): resolve CVE-2025-55182
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(FSK-81): resolve CVE-2025-55183 & CVE-2025-55184
  CHANGELOG.md
  package.json
  patches/next@15.4.10.patch
  patches/next@15.4.8.patch
  pnpm-lock.yaml
Due: pnpm run format --write

build(FSK-82): replace next patch with global types
  package.json
  patches/next@15.4.10.patch
  pnpm-lock.yaml
  src/@types/global.d.ts
  tsconfig.json
Due: pnpm run lint-js, pnpm run format --write

build(FSK-82): remove `.npmrc`
  .npmrc
Due: none

build(FSK-82): rename metrics var to analytics
  .env
  src/features/seo/ui/WebAnalytics/index.tsx
  src/shared/const/env.ts
Due: pnpm run lint-js, pnpm run format --write

fix(FSK-82): typo
  package.json
  src/pages/ErrorPage/model/mapper/mapStatusToProps.ts
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-82): add page meta helper & preview image
  src/app/(public)/page.tsx
  src/app/admin/(auth)/sign-in/meta.ts
  src/app/admin/(system)/employees/meta.ts
  src/app/layout.tsx
  src/app/meta.ts
  src/features/seo/model/const/meta.ts
  src/features/seo/model/helper/getPageMetadata.ts
  src/pages/admin/SignInPage/ui/Form/index.tsx
Due: pnpm run lint-js, pnpm run format --write

build(FSK-82): inline analyze var
  .env
  package.json
Due: pnpm run format --write
