Repository taptima/fsd-next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint-js, pnpm run format --write

chore: remove next-seo package
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

chore: rewrite nextjs config apply logic
  next.config.js
Due: pnpm run lint-js, pnpm run format --write

fix: change headers to async function for next config
  next.config.js
Due: pnpm run lint-js, pnpm run format --write

chore: add bundle analyzer
  .env
  analyze/nodejs.html
  next.config.js
  package.json
  pnpm-lock.yaml
Due: pnpm run lint-js, pnpm run format --write

fix: add next config to bundle analyzer
  analyze/nodejs.html
  next.config.js
Due: pnpm run lint-js, pnpm run format --write

chore: add svgr
  .eslintrc.json
  .gitignore
  analyze/nodejs.html
  next.config.js
  package.json
  pnpm-lock.yaml
  src/pages/index.tsx
  src/pages/next.svg
  src/shared/assets/icons/next.svg
  src/shared/assets/icons/vercel.svg
  src/shared/ui/Icon/index.tsx
  src/shared/ui/icons/Next.tsx
  src/shared/ui/icons/Vercel.tsx
  src/shared/ui/icons/index.ts
  tsconfig.json
Due: pnpm run lint-js, pnpm run format --write

fix: remove unused code, patch svg types at next
  package.json
  patches/next@13.4.19.patch
  pnpm-lock.yaml
  src/pages/index.tsx
  src/shared/assets/icons/next.svg
  src/shared/assets/icons/vercel.svg
  src/shared/ui/Icon/index.tsx
  src/shared/ui/icons/Next.tsx
  src/shared/ui/icons/Vercel.tsx
  src/shared/ui/icons/index.ts
Due: pnpm run lint-js, pnpm run format --write

chore: remove svgr cli and change eslint config
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

chore: add zustand and swr, change folder structure according FSD, add helpers and types
  next-env.d.ts
  package.json
  pages/README.md
  pnpm-lock.yaml
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
  src/app/products/loading.tsx
  src/app/products/page.tsx
  src/entities/Product/index.ts
  src/entities/Product/model/selectors/products.ts
  src/entities/Product/model/services/useGetProductsSWR/useGetProductsSWR.ts
  src/entities/Product/model/store/useProductsStore.ts
  src/entities/Product/model/types/store.ts
  src/entities/Product/ui/ProductsList/ProductsList.module.css
  src/entities/Product/ui/ProductsList/ProductsList.tsx
  src/features/.gitkeep
  src/pages/ProductsPage/index.ts
  src/pages/ProductsPage/ui/ProductsPage/ProductsPage.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/pages/next.svg
  src/shared/constants/storeNames.ts
  src/shared/lib/api/fetcher/fetcher.ts
  src/shared/lib/helpers/actionParams/actionParams.ts
  src/shared/lib/helpers/initializeDevtoolsOptions/initializeDevtoolsOptions.ts
  src/shared/types/defaultActions.ts
  src/widgets/.gitkeep
  tsconfig.json
Due: pnpm run lint-js, pnpm run format --write

refactor: change imports, improve types, add clsx
  package.json
  pnpm-lock.yaml
  src/entities/Product/index.ts
  src/entities/Product/model/services/useGetProductsSWR.ts
  src/entities/Product/model/services/useGetProductsSWR/useGetProductsSWR.ts
  src/entities/Product/model/store/useProductsStore.ts
  src/entities/Product/model/types/product.ts
  src/entities/Product/model/types/store.ts
  src/entities/Product/ui/ProductsList/index.tsx
  src/entities/Product/ui/ProductsList/styles.module.css
  src/pages/ProductsPage/index.ts
  src/pages/ProductsPage/ui/ProductsPage/index.tsx
  src/shared/constants/storeNames.ts
  src/shared/lib/api/fetcher/index.ts
  src/shared/lib/helpers/actionParams/actionParams.ts
  src/shared/lib/helpers/actionParams/index.ts
  src/shared/lib/helpers/createStore/index.ts
  src/shared/lib/helpers/initializeDevtoolsOptions/index.ts
  src/shared/types/defaultActions.ts
  src/shared/types/storeActions.ts
Due: pnpm run lint-js, pnpm run format --write

refactor: change function name, make generic types more restrictive
  src/entities/Product/model/store/useProductsStore.ts
  src/shared/lib/config/createStore/index.ts
  src/shared/lib/helpers/actionParams/index.ts
  src/shared/lib/helpers/initializeDevtoolsOptions/index.ts
  src/shared/types/storeActions.ts
Due: pnpm run lint-js, pnpm run format --write

chore: fix base url and eslint imports rule
  .eslintrc.json
  tsconfig.json
Due: pnpm run format --write

fix: error for entities imports
  tsconfig.json
Due: pnpm run format --write

build: add sass lib, configure production css class names
  .lintstagedrc.yml
  hashCssModules.config.js
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/page.module.css
  src/app/page.tsx
  src/entities/Product/ui/ProductsList/index.tsx
  src/entities/Product/ui/ProductsList/styles.module.css
  src/entities/Product/ui/ProductsList/styles.module.scss
  tsconfig.json
Due: pnpm run lint-js, pnpm run format --write

chore: create config folder, update classname generation for css modules
  .eslintrc.json
  config/cssModules.js
  config/svgr.js
  next.config.js
Due: pnpm run lint-js, pnpm run format --write

chore: configure relative imports for eslint
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/entities/Product/index.ts
  src/entities/Product/model/selectors/products.ts
  src/entities/Product/model/services/useGetProductsSWR.ts
  src/entities/Product/model/store/useProductsStore.ts
  src/entities/Product/ui/ProductsList/index.tsx
Due: pnpm run lint-js, pnpm run format --write

chore: configure stylelint for SCSS
  .lintstagedrc.yml
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/entities/Product/ui/ProductsList/styles.module.scss
Due: pnpm run format --write

feat: add css normalize and base colors
  .stylelintrc.json
  src/app/layout.tsx
  src/app/styles/_colors.scss
  src/app/styles/_global.scss
  src/app/styles/_normalize.scss
  src/app/styles/index.scss
  src/entities/Product/ui/ProductsList/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write

feat: add api, add global types, add superstruct, add axios, update fetcher
  package.json
  pnpm-lock.yaml
  src/app/_types/global.d.ts
  src/app/api/products/route.ts
  src/app/products/model/mappers/products.ts
  src/app/products/model/schema/products.ts
  src/entities/Product/model/services/useGetProductsSWR.ts
  src/entities/Product/model/types/product.ts
  src/entities/Product/ui/ProductsList/index.tsx
  src/pages/ArticlesPage/model/types/index.ts
  src/pages/ProductsPage/model/types/index.ts
  src/shared/lib/api/axios/index.ts
  src/shared/lib/api/fetcher/index.ts
Due: pnpm run lint-js, pnpm run format --write

feat: move mapper and schema to api folder, separate interfaces, add autogenerated selectors
  src/app/_types/global.d.ts
  src/app/api/products/model/mapper/index.ts
  src/app/api/products/model/schema/index.ts
  src/app/api/products/route.ts
  src/app/articles/loading.tsx
  src/app/articles/page.tsx
  src/app/page.tsx
  src/app/products/model/mappers/products.ts
  src/app/products/model/schema/products.ts
  src/entities/Product/index.ts
  src/entities/Product/model/selectors/products.ts
  src/entities/Product/model/services/useGetProductsSWR.ts
  src/entities/Product/model/store/useProductsStore.ts
  src/entities/Product/model/types/product.ts
  src/entities/Product/model/types/store.ts
  src/entities/Product/ui/ProductsList/index.tsx
  src/entities/Product/ui/ProductsList/styles.module.css
  src/pages/ArticlesPage/index.ts
  src/pages/ArticlesPage/model/services/useGetArticlesPageProductsSWR.ts
  src/pages/ArticlesPage/model/types/index.ts
  src/pages/ArticlesPage/ui/ArticlesPage/index.tsx
  src/pages/ProductsPage/index.ts
  src/pages/ProductsPage/model/services/useGetProductPageProductsSWR.ts
  src/pages/ProductsPage/model/types/index.ts
  src/shared/lib/api/axios/index.ts
  src/shared/lib/api/fetcher/index.ts
  src/shared/lib/config/createStore/index.ts
  src/shared/lib/helpers/actionParams/index.ts
  src/shared/lib/helpers/withGeneratedSelectors/index.ts
Due: pnpm run lint-js, pnpm run format --write

feat: add api, add global types, add superstruct, add axios, update fetcher
  src/app/products/model/mappers/products.ts
  src/app/products/model/schema/products.ts
  src/entities/Product/model/types/product.ts
Due: pnpm run lint-js, pnpm run format --write

feat: move mapper and schema to api folder, separate interfaces, add autogenerated selectors
  src/app/products/model/mappers/products.ts
  src/app/products/model/schema/products.ts
Due: pnpm run lint-js, pnpm run format --write

chore: disable devtools for production
  src/shared/config/env.ts
  src/shared/lib/config/createStore/index.ts
  src/shared/lib/helpers/initializeDevtoolsOptions/index.ts
Due: pnpm run lint-js, pnpm run format --write

feat: update createStore function for better experience
  src/entities/Product/model/store/useProductsStore.ts
  src/shared/lib/config/createStore/index.ts
Due: pnpm run lint-js, pnpm run format --write

feat: add logger, decode, axiosInstance, improve createStore
  src/app/_types/global.d.ts
  src/app/api/products/model/mapper/index.ts
  src/app/api/products/model/schema/index.ts
  src/app/api/products/route.ts
  src/app/layout.tsx
  src/entities/Product/model/services/useGetProductsSWR.ts
  src/entities/Product/model/store/useProductsStore.ts
  src/entities/Product/model/types/store.ts
  src/entities/Product/ui/ProductsList/index.tsx
  src/entities/Product/ui/ProductsList/styles.module.css
  src/pages/ArticlesPage/model/services/useGetArticlesPageProductsSWR.ts
  src/pages/ArticlesPage/model/types/index.ts
  src/pages/ArticlesPage/ui/ArticlesPage/index.tsx
  src/pages/ProductsPage/model/services/useGetProductPageProductsSWR.ts
  src/pages/ProductsPage/model/types/index.ts
  src/pages/ProductsPage/ui/ProductsPage/index.tsx
  src/shared/lib/api/axios/index.ts
  src/shared/lib/config/createStore/index.ts
  src/shared/lib/config/logger/index.ts
  src/shared/lib/helpers/actionParams/index.ts
  src/shared/lib/helpers/decode/index.ts
  src/shared/types/storeActions.ts
Due: pnpm run lint-js, pnpm run format --write

feat: make api independent from the library, add async mutex
  package.json
  pnpm-lock.yaml
  src/app/api/products/route.ts
  src/entities/Product/model/services/useGetProductsSWR.ts
  src/entities/Product/model/store/useProductsStore.ts
  src/pages/ArticlesPage/model/services/useGetArticlesPageProductsSWR.ts
  src/pages/ProductsPage/model/services/useGetProductPageProductsSWR.ts
  src/shared/config/createStore/index.ts
  src/shared/config/logger/index.ts
  src/shared/const/env.ts
  src/shared/lib/api/axios/index.ts
  src/shared/lib/api/const/index.ts
  src/shared/lib/api/fetcher/index.ts
  src/shared/lib/api/graphQL/index.ts
  src/shared/lib/api/restApi/index.ts
  src/shared/lib/helpers/decode/index.ts
  src/shared/lib/helpers/initializeDevtoolsOptions/index.ts
Due: pnpm run lint-js, pnpm run format --write

chore: add branch name validation
  .husky/pre-commit
  .validate-branch-namerc.json
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

feat: implement GraphQL client, add frontend and backend api clients
  package.json
  pnpm-lock.yaml
  src/app/api/products/route.ts
  src/pages/ArticlesPage/model/types/index.ts
  src/shared/lib/api/GraphQL/index.ts
  src/shared/lib/api/REST/index.ts
  src/shared/lib/api/axios/index.ts
  src/shared/lib/api/client/AbstractApiClient.ts
  src/shared/lib/api/client/BackendApiClient.ts
  src/shared/lib/api/client/FrontendApiClient.ts
  src/shared/lib/api/client/index.ts
  src/shared/lib/api/fetcher/index.ts
  src/shared/lib/api/graphQL/index.ts
  src/shared/lib/api/restApi/index.ts
Due: pnpm run lint-js, pnpm run format --write

chore: rename _types -> @types
  src/app/@types/global.d.ts
Due: pnpm run lint-js, pnpm run format --write

chore: separate schema types from entities types
  src/app/api/products/model/mapper/index.ts
  src/entities/Product/model/services/useGetProductsSWR.ts
  src/entities/Product/model/types/product.ts
  src/entities/Product/model/types/schema.ts
  src/pages/ArticlesPage/model/types/index.ts
  src/pages/ProductsPage/model/types/index.ts
Due: pnpm run lint-js, pnpm run format --write

chore: update pattern
  .validate-branch-namerc.json
Due: pnpm run format --write

chore: udpate dep versions, update svgr config
  config/svgr.js
  package.json
  patches/next@13.5.2.patch
  pnpm-lock.yaml
  src/app/page.tsx
  src/shared/assets/icons/next.svg
  src/shared/assets/icons/vercel.svg
Due: pnpm run lint-js, pnpm run format --write

chore: add storybook and loki, add info to readme file
  .eslintrc.json
  .gitignore
  .loki/.gitignore
  .loki/reference/chrome_iphone7_pages_ArticlesPage_ArticlesPage_Primary.png
  .loki/reference/chrome_laptop_pages_ArticlesPage_ArticlesPage_Primary.png
  README.md
  config/build/cssModules.js
  config/build/svgr.js
  config/storybook/main.ts
  config/storybook/preview.ts
  loki.config.js
  next.config.js
  package.json
  pnpm-lock.yaml
  scripts/generate-visual-json-report.js
  src/pages/ArticlesPage/model/services/useGetArticlesPageProductsSWR.ts
  src/pages/ArticlesPage/ui/ArticlesPage/ArticlesPage.stories.tsx
  src/pages/ArticlesPage/ui/ArticlesPage/index.tsx
  src/shared/lib/api/swr/useCustomSWR.ts
  tsconfig.json
Due: pnpm run lint-js, pnpm run format --write

chore: add svgo config, fix headers error
  next.config.js
  package.json
  pnpm-lock.yaml
  src/shared/assets/icons/next.svg
  src/shared/assets/icons/vercel.svg
  svgo.config.js
Due: pnpm run lint-js, pnpm run format --write

chore: setup lint-staged for svg files
  .lintstagedrc.yml
Due: none

feat: create export for colors
  src/app/page.tsx
  src/shared/styles/colors.module.scss
  src/shared/styles/colors.module.scss.d.ts
Due: pnpm run lint-js, pnpm run format --write

feat: add style decorator, add rule to eslint, add button example for storybook
  .eslintrc.json
  config/storybook/main.ts
  config/storybook/preview.ts
  package.json
  pnpm-lock.yaml
  src/entities/Product/model/store/useProductsStore.ts
  src/shared/config/project/createStore/index.ts
  src/shared/config/project/logger/index.ts
  src/shared/config/storybook/StyleDecorator/index.tsx
  src/shared/lib/api/GraphQL/index.ts
  src/shared/lib/api/axios/index.ts
  src/shared/lib/helpers/decode/index.ts
  src/shared/styles/colors.module.scss
  src/shared/styles/colors.module.scss.d.ts
  src/shared/ui/Button/Button.stories.tsx
  src/shared/ui/Button/index.tsx
  src/shared/ui/Button/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write

feat: add media query base, add font variants
  config/build/svgr.js
  src/app/page.tsx
  src/entities/Product/ui/ProductsList/styles.module.scss
  src/shared/styles/font.scss
  src/shared/styles/mq.scss
Due: pnpm run lint-js, pnpm run format --write

feat: add naming convention eslint rule
  .eslintrc.json
Due: pnpm run format --write

feat: update to the latest version
  package.json
  pnpm-lock.yaml
  src/shared/hooks/form/useInputErrors.ts
  src/shared/lib/api/swr/useCustomSWR.ts
  src/shared/lib/helpers/style/createCssVariable.ts
  src/shared/lib/validation/messages.ts
  src/shared/lib/validation/passwordValidationSchema.ts
  src/shared/lib/validation/usernameValidationSchema.ts
  src/shared/styles/colors.module.scss
  src/shared/styles/colors.module.scss.d.ts
  src/shared/styles/font.scss
  src/shared/styles/utils.scss
  src/shared/types/datePicker.ts
  src/shared/types/icon.ts
  src/shared/types/option.ts
  src/shared/types/styles.ts
Due: pnpm run lint-js, pnpm run format --write

Path conditions:
  pnpm run lint-js: any of: *.{js,jsx,ts,tsx}
  pnpm run format --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
