Repository taptima/fsd-next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

.lintstagedrc.yml:

"*.{js,jsx,ts,tsx}":
  - pnpm run lint-js
  - pnpm run format --write

"*.json":
  - pnpm run format --write

"*{css,scss}":
  - pnpm run lint-styles
  - pnpm run format --write

feat(FSK-84): add `withQuery` helper
  src/shared/lib/helpers/withQuery/index.ts
Due: pnpm run lint-js, pnpm run format --write

fix(FSK-84): dev layout env
  src/shared/const/env.ts
Due: pnpm run lint-js, pnpm run format --write

fix(FSK-84): extra css
  src/features/layout/DevLayout/styles.module.scss
Due: pnpm run format --write, pnpm run lint-styles

chore(FSK-84): add container classname
  src/shared/ui/display/Container/index.tsx
Due: pnpm run lint-js, pnpm run format --write

chore(FSK-84): update page types
  src/app/(public)/example/catalog/[id]/meta.ts
  src/app/(public)/example/catalog/[id]/page.tsx
  src/shared/lib/hooks/usePageId.ts
  src/shared/lib/hooks/usePageSlug.ts
  src/shared/types/page.ts
  src/views/example/ItemPage/index.tsx
  src/views/example/ItemPage/ssr.tsx
Due: pnpm run lint-js, pnpm run format --write

chore(FSK-84): import theme directly to allow for hot-reload
  .lintstagedrc.yml
  scripts/sync-colors.js
  src/app/layout.tsx
  src/app/styles/colors.scss
  src/app/styles/global.scss
  src/app/styles/index.scss
  src/app/styles/normalize.scss
  src/app/styles/transitions.scss
  src/app/styles/variables.scss
  src/app/styles/zIndex.scss
  src/shared/styles/colors.ts
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

build(FSK-84): update github checks engines
  .github/workflows/checks.yml
Due: none

docs(FSK-84): v3.0.0
  CHANGELOG.md
  package.json
Due: pnpm run format --write

fix(FSK-84): build errors & antd components css
  src/shared/config/project/createStore/index.ts
  src/shared/types/modal.ts
  src/shared/ui/display/Table/ui/Actions/Action/index.tsx
  src/shared/ui/display/Table/ui/Actions/Action/styles.module.scss
  src/shared/ui/feedback/Modal/index.tsx
  src/shared/ui/feedback/Modal/styles.module.scss
  src/shared/ui/feedback/Screen/index.tsx
  src/shared/ui/feedback/Screen/styles.module.scss
  src/shared/ui/inputs/InputNumber/styles.module.scss
  src/shared/ui/inputs/Select/styles.module.scss
  src/widgets/ActionModal/index.tsx
  src/widgets/ActionModal/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles
