Repository taptima/fsd-next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

feat: add common helpers
  src/shared/lib/helpers/delay/index.ts
  src/shared/lib/helpers/getPlural/index.ts
Due: pnpm run lint-js, pnpm run format --write

feat: add common components
  src/app/page.tsx
  src/app/styles/_colors.scss
  src/shared/assets/icons/loader.svg
  src/shared/lib/helpers/createLazyModal/index.tsx
  src/shared/lib/validation/usernameValidationSchema.ts
  src/shared/styles/colors.module.scss
  src/shared/styles/colors.module.scss.d.ts
  src/shared/styles/font.scss
  src/shared/ui/display/.gitkeep
  src/shared/ui/display/BlockingLoader/BlockingLoader.stories.tsx
  src/shared/ui/display/BlockingLoader/index.tsx
  src/shared/ui/display/BlockingLoader/styles.module.scss
  src/shared/ui/display/Loader/Loader.stories.tsx
  src/shared/ui/display/Loader/index.tsx
  src/shared/ui/display/Loader/styles.module.scss
  src/shared/ui/feedback/.gitkeep
  src/shared/ui/feedback/BlockingLoader/index.tsx
  src/shared/ui/inputs/Button/Button.stories.tsx
  src/shared/ui/inputs/Button/index.tsx
  src/shared/ui/inputs/Button/styles.module.scss
  src/shared/ui/inputs/Button/utils.ts
  src/shared/ui/navigation/.gitkeep
  src/shared/ui/navigation/Link/ButtonLink/ButtonLink.stories.tsx
  src/shared/ui/navigation/Link/ButtonLink/index.tsx
  src/shared/ui/navigation/Link/Link.stories.tsx
  src/shared/ui/navigation/Link/index.tsx
  src/shared/ui/navigation/Link/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

build: update deps
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

feat: expand `mq`
  src/shared/styles/mq.scss
Due: pnpm run format --write, pnpm run lint-styles

build: change storybook script
  package.json
Due: pnpm run format --write

chore(FSK-71): change styles & linting rules to prevent iOS bugs
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  src/shared/ui/display/BlockingLoader/styles.module.scss
  src/shared/ui/inputs/Button/styles.module.scss
Due: pnpm run format --write, pnpm run lint-styles

chore(FSK-71): add deadcode check util
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

refactor(FSK-71): base layout
  src/app/font.ts
  src/app/layout.tsx
  src/app/meta.ts
  src/app/page.tsx
  src/pages/.gitkeep
  src/pages/HomePage/index.tsx
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-71): add helpers & mixins
  src/shared/lib/helpers/filterNonNullable/index.ts
  src/shared/lib/helpers/sanitizePhone/index.ts
  src/shared/styles/mixins.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

feat(FSK-71): add api utils, user entity & authentication handling
  src/app/model/store/useAuthStore.ts
  src/app/providers/ClientInitializer/index.tsx
  src/entities/.gitkeep
  src/entities/User/api/request/getUser.ts
  src/entities/User/api/swr/keys.ts
  src/entities/User/api/swr/useUser.ts
  src/entities/User/index.ts
  src/entities/User/model/helper/logoutCurrentUser.ts
  src/entities/User/model/mapper/mapUserErrorToMessage.ts
  src/entities/User/model/mapper/mapUserRoleToText.ts
  src/entities/User/model/types/roleTypeEnum.ts
  src/entities/User/model/types/user.ts
  src/features/.gitkeep
  src/features/auth/api/request/postRefresh.ts
  src/features/auth/api/swr/keys.ts
  src/features/auth/api/swr/useRefreshMutation.ts
  src/features/auth/api/swr/useSignInMutation.ts
  src/shared/const/apiRoutes.ts
  src/shared/const/app.ts
  src/shared/const/httpCode.ts
  src/shared/const/store.ts
  src/shared/lib/api/client/AbstractApiClient.ts
  src/shared/lib/api/client/ApiClient.ts
  src/shared/lib/api/client/FrontendApiClient.ts
  src/shared/lib/api/client/index.ts
  src/shared/lib/api/const/index.ts
  src/shared/lib/api/fetcher/index.ts
  src/shared/lib/api/graphqlFetcher/index.ts
  src/shared/lib/helpers/handleApiErrors/index.ts
  src/shared/lib/helpers/invalidateFiltered/index.ts
  src/shared/lib/helpers/invalidateWithKey/index.ts
  src/shared/lib/helpers/mutateWithKey/index.ts
  src/shared/types/api/apiError.ts
  src/shared/types/api/apiListResponse.ts
  src/shared/types/api/apiResponse.ts
  src/shared/types/api/index.ts
  src/shared/types/api/swrKey.ts
  src/shared/types/utility.ts
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-71): add pages meta
  next.config.js
  src/app/admin/(auth)/sign-in/meta.ts
  src/app/admin/(auth)/sign-in/page.tsx
  src/app/admin/(system)/employees/meta.ts
  src/app/admin/(system)/employees/page.tsx
  src/entities/User/mock.ts
  src/pages/admin/EmployeesPage/index.tsx
  src/pages/admin/EmployeesPage/ui/Modals/AddEmployeeModal/index.tsx
  src/pages/admin/EmployeesPage/ui/Modals/BlockEmployeeModal/index.tsx
  src/pages/admin/EmployeesPage/ui/Modals/ChangeEmployeePasswordModal/index.tsx
  src/pages/admin/EmployeesPage/ui/Modals/DeleteEmployeeModal/index.tsx
  src/pages/admin/EmployeesPage/ui/Modals/EditEmployeeModal/index.tsx
  src/pages/admin/EmployeesPage/ui/Modals/UnblockEmployeeModal/index.tsx
  src/shared/const/seo.ts
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-71): add data revalidation
  src/entities/User/api/swr/keys.ts
  src/entities/User/api/swr/useEmployeeOptions.ts
  src/pages/admin/EmployeesPage/api/swr/useAddEmployeeMutation.ts
  src/pages/admin/EmployeesPage/api/swr/useDeleteEmployeeMutation.ts
  src/pages/admin/EmployeesPage/api/swr/useEditEmployeeMutation.ts
  src/shared/lib/helpers/handleGraphQLMutationResult/index.ts
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-71): add refresh layout provider
  src/app/admin/(system)/layout.tsx
  src/entities/User/api/request/getUser.ts
  src/features/auth/api/swr/useRefreshMutation.ts
  src/features/auth/api/swr/useSignInMutation.ts
  src/features/auth/provider/createRefreshLayout/index.tsx
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-71): move admin layout to features
  src/app/admin/(system)/layout.tsx
  src/features/layout/AdminLayout/index.tsx
  src/features/layout/AdminLayout/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

feat(FSK-72): upgrade to next 15, drop sentry
  .env
  README.md
  config/storybook/main.ts
  config/storybook/preview.ts
  next-env.d.ts
  next.config.ts
  package.json
  patches/next@15.4.4.patch
  pnpm-lock.yaml
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
  src/shared/config/project/logger/index.ts
  src/shared/config/storybook/StyleDecorator/index.tsx
  src/shared/ui/display/BlockingLoader/BlockingLoader.stories.tsx
  src/shared/ui/display/Loader/Loader.stories.tsx
  src/shared/ui/inputs/Button/Button.stories.tsx
  src/shared/ui/navigation/Link/ButtonLink/ButtonLink.stories.tsx
  src/shared/ui/navigation/Link/Link.stories.tsx
  tsconfig.json
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-72): add `SWRFallback`
  src/shared/providers/SWRFallback/index.tsx
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-72): add default address styles
  src/app/styles/_global.scss
Due: pnpm run format --write, pnpm run lint-styles

feat(FSK-72): upgrade to next 15, drop sentry
  .env
  README.md
  config/storybook/main.ts
  config/storybook/preview.ts
  next-env.d.ts
  next.config.ts
  package.json
  patches/next@15.4.5.patch
  pnpm-lock.yaml
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
  src/shared/config/project/logger/index.ts
  src/shared/config/storybook/StyleDecorator/index.tsx
  src/shared/ui/display/BlockingLoader/BlockingLoader.stories.tsx
  src/shared/ui/navigation/Link/Link.stories.tsx
  tsconfig.json
Due: pnpm run lint-js, pnpm run format --write

feat(FSK-73): upgrade next, react & antd, configure turbopack
  config/storybook/main.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/admin/(auth)/layout.tsx
  src/app/layout.tsx
  src/app/styles/index.scss
  src/entities/Blockable/model/helper/getModalBlockAction.tsx
  src/entities/User/model/mapper/mapEmployeeToDataList.tsx
  src/pages/admin/EmployeesPage/model/helper/handleEmployeeSorter.ts
  src/pages/admin/EmployeesPage/ui/EmployeesTable/index.tsx
  src/pages/admin/EmployeesPage/ui/Modals/ChangeEmployeePasswordModal/index.tsx
  src/pages/admin/EmployeesPage/ui/Modals/common/EmployeeForm/styles.module.scss
  src/shared/config/storybook/StyleDecorator/index.tsx
  src/shared/lib/hooks/useIntersectionObserver.ts
  src/shared/styles/colors.module.scss
  src/shared/styles/colors.module.scss.d.ts
  src/shared/styles/colors.ts
  src/shared/types/utils.ts
  src/shared/ui/display/BlockingLoader/BlockingLoader.stories.tsx
  src/shared/ui/display/LabelWithTooltip/index.tsx
  src/shared/ui/display/Logo/index.tsx
  src/shared/ui/display/Table/index.tsx
  src/shared/ui/display/Table/ui/Actions/Action/index.tsx
  src/shared/ui/display/Table/ui/Actions/Action/utils.ts
  src/shared/ui/display/Table/ui/DragHandle/index.tsx
  src/shared/ui/display/Table/ui/FilterDropdown/index.tsx
  src/shared/ui/display/Table/ui/SearchFilterDropdown/index.tsx
  src/shared/ui/display/Table/ui/SortIcon/index.tsx
  src/shared/ui/feedback/Drawer/index.tsx
  src/shared/ui/feedback/Modal/index.tsx
  src/shared/ui/feedback/Screen/index.tsx
  src/shared/ui/feedback/Screen/styles.module.scss
  src/shared/ui/inputs/Select/index.tsx
  src/shared/ui/inputs/Select/styles.module.scss
  src/shared/ui/inputs/Switch/index.tsx
  src/widgets/Toolbar/index.tsx
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

build(FSK-73): add typecheck script
  .gitignore
  package.json
Due: pnpm run format --write

feat(FSK-73): create global modal store
  src/app/admin/(system)/layout.tsx
  src/app/admin/model/store/useAdminModalStore.ts
  src/app/admin/ui/Modals/index.tsx
  src/app/layout.tsx
  src/app/model/store/useGlobalModalStore.ts
  src/app/model/store/useSharedModalStore.ts
  src/app/styles/_global.scss
  src/app/ui/Modals/LogoutModal/dynamic.ts
  src/app/ui/Modals/LogoutModal/index.tsx
  src/app/ui/Modals/index.tsx
  src/shared/providers/WithModalsReset/index.tsx
  src/shared/ui/feedback/Modal/index.tsx
  src/shared/ui/feedback/Screen/styles.module.scss
  src/widgets/admin/AdminHeader/User/index.tsx
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

feat(FSK-73): add `Dragger`, `Upload` & validation
  src/app/styles/_colors.scss
  src/shared/assets/icons/box.svg
  src/shared/assets/icons/upload.svg
  src/shared/lib/validation/messages.ts
  src/shared/lib/validation/rules.ts
  src/shared/styles/colors.ts
  src/shared/types/page.ts
  src/shared/ui/inputs/Dragger/index.tsx
  src/shared/ui/inputs/Dragger/styles.module.scss
  src/shared/ui/inputs/Upload/index.tsx
  src/shared/ui/inputs/Upload/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

fix(FSK-73): colors
  src/app/styles/_colors.scss
  src/shared/styles/colors.ts
  src/shared/ui/display/BlockingLoader/styles.module.scss
  src/shared/ui/navigation/Link/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

feat(FSK-73): add entity select
  src/entities/User/model/mapper/mapUserToOption.ts
  src/entities/User/ui/EmployeeSelect/index.tsx
  src/shared/ui/inputs/InfiniteSelect/index.tsx
  src/shared/ui/inputs/Select/index.tsx
  src/shared/ui/inputs/Select/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

feat(FSK-73): add `Checkbox` and `Textarea`
  src/shared/ui/inputs/Checkbox/index.tsx
  src/shared/ui/inputs/TextArea/index.tsx
  src/shared/ui/inputs/TextArea/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

build(FSK-74): configure turbopack
  next.config.ts
  package.json
Due: pnpm run lint-js, pnpm run format --write

fix(FSK-74): david's storybook @use fix
  config/storybook/main.ts
Due: pnpm run lint-js, pnpm run format --write

build(FSK-75): upgrade to react 19
  package.json
  patches/next@15.4.6.patch
  pnpm-lock.yaml
  src/app/styles/index.scss
  src/shared/config/storybook/StyleDecorator/index.tsx
  src/shared/lib/hooks/useIntersectionObserver.ts
  src/shared/styles/colors.module.scss
  src/shared/styles/colors.module.scss.d.ts
  src/shared/styles/colors.ts
  src/shared/types/utils.ts
  src/shared/ui/display/BlockingLoader/BlockingLoader.stories.tsx
  src/shared/ui/display/Loader/Loader.stories.tsx
  src/shared/ui/inputs/Button/Button.stories.tsx
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

docs(FSK-75): implement versioning, add changelog
  CHANGELOG.md
  package.json
Due: pnpm run format --write

style(FSK-75): remove stylelint at-rules from order config
  .stylelintrc.json
  CHANGELOG.md
  config/storybook/main.ts
Due: pnpm run lint-js, pnpm run format --write

style(FSK-75): remove stylelint at-rules from order config
  .stylelintrc.json
  CHANGELOG.md
  package.json
Due: pnpm run format --write

docs(FSK-75): minor 1.0.0 changelog edits
  CHANGELOG.md
Due: none

build(FSK-76): add `graphql-codegen`
  CHANGELOG.md
  codegen.yml
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

Path conditions:
  pnpm run lint-js: any of: *.{js,jsx,ts,tsx}
  pnpm run format --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.json)) or (any of: *{css,scss})
  pnpm run lint-styles: any of: *{css,scss}
