Repository taptima/fsd-next-template: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

build(deps): update stylelint version to 16.2.0
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

chore: update sassOptions for storybook purposes
  next.config.js
Due: pnpm run lint-js, pnpm run format --write

refactor: add structure for shared ui
  src/shared/ui/controlled/.gitkeep
  src/shared/ui/display/.gitkeep
  src/shared/ui/feedback/.gitkeep
  src/shared/ui/inputs/Button/Button.stories.tsx
  src/shared/ui/inputs/Button/index.tsx
  src/shared/ui/inputs/Button/styles.module.scss
  src/shared/ui/navigation/.gitkeep
  src/shared/ui/surfaces/.gitkeep
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

refactor: add fetcher, rename frontendApiClient to apiClient
  src/shared/const/env.ts
  src/shared/lib/api/client/ApiClient.ts
  src/shared/lib/api/client/BackendApiClient.ts
  src/shared/lib/api/client/index.ts
  src/shared/lib/api/const/index.ts
  src/shared/lib/api/fetcher/index.ts
Due: pnpm run lint-js, pnpm run format --write

feat: add createLazyModal
  src/shared/lib/helpers/createLazyModal/index.tsx
  src/shared/ui/feedback/.gitkeep
  src/shared/ui/feedback/BlockingLoader/BlockingLoader.stories.tsx
  src/shared/ui/feedback/BlockingLoader/index.tsx
  src/shared/ui/feedback/BlockingLoader/styles.module.scss
Due: pnpm run lint-js, pnpm run format --write, pnpm run lint-styles

feat: add createModalsStore
  src/shared/config/project/createModalsStore/index.ts
  src/shared/config/project/createStore/index.ts
  src/shared/types/store.ts
Due: pnpm run lint-js, pnpm run format --write

feat: replace eslint plugin import with perfectionist
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

refactor: run linters
  src/app/page.tsx
  src/shared/config/project/createModalsStore/index.ts
  src/shared/config/project/createStore/index.ts
  src/shared/ui/inputs/Button/index.tsx
Due: pnpm run lint-js, pnpm run format --write

feat: install sharp package
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

feat: update default styles
  src/app/styles/_global.scss
  src/app/styles/_normalize.scss
  src/app/styles/_transitions.scss
  src/app/styles/_variables.scss
  src/app/styles/_zIndex.scss
  src/app/styles/index.scss
Due: pnpm run format --write, pnpm run lint-styles

build(dev-deps): update types packages
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(deps): update axios
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(deps): update next additional packages
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(deps): update next
  package.json
  patches/next@14.1.4.patch
  pnpm-lock.yaml
Due: pnpm run format --write

build(dev-deps): update lint-staged
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(dev-deps): update prettier
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(dev-deps): update stylelint
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(deps): update swr
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(deps): run update-browserlist script
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(deps): update zustand
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(dev-deps): update testing packages
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(dev-deps): update eslint
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(dev-deps): update sass
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(dev-deps): update webpack
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(deps): update yup
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(dev-deps): update commitlint
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(deps): migrate to storybook@8
  config/storybook/preview.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run lint-js, pnpm run format --write

build(dev-deps): migrate to husky@9
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build(deps): update async-mutex
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

feat: add debounce helper
  src/shared/lib/helpers/debounce/index.ts
Due: pnpm run lint-js, pnpm run format --write

build: update deps
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

build: update node
  .nvmrc
  package.json
Due: pnpm run format --write

build: actually update deps
  .github/workflows/checks.yml
  package.json
  patches/next@14.2.3.patch
  pnpm-lock.yaml
Due: pnpm run format --write

Update checks.yml node version
  .github/workflows/checks.yml
Due: none

build: revert eslint to v8
  package.json
  pnpm-lock.yaml
Due: pnpm run format --write

ci: update `pnpm/action-setup` to fix CI error
  .github/actions/pnpm-install/action.yml
Due: none

feat: add `Classname` type
  src/shared/types/styles.ts
Due: pnpm run lint-js, pnpm run format --write

feat: add common hooks
  src/shared/lib/hooks/useIntersectionObserver.ts
  src/shared/lib/hooks/windowSize/useScrollbarWidth.ts
  src/shared/lib/hooks/windowSize/useWindowResize.ts
Due: pnpm run lint-js, pnpm run format --write

feat: add base seo
  src/app/layout.tsx
  src/app/meta.ts
  src/app/robots.ts
  src/app/sitemap.ts
  src/shared/const/env.ts
  src/shared/const/pageRoutes.ts
  src/shared/const/seo.ts
  src/shared/lib/api/client/ApiClient.ts
  src/shared/lib/api/const/index.ts
  src/shared/lib/api/fetcher/index.ts
  src/shared/lib/helpers/asset/index.ts
  src/shared/lib/helpers/getAbsoluteUrl/index.ts
Due: pnpm run lint-js, pnpm run format --write

feat: add `clamp` sass util
  src/shared/styles/utils.scss
Due: pnpm run format --write, pnpm run lint-styles

Path conditions:
  pnpm run lint-js: any of: *.{js,jsx,ts,tsx}
  pnpm run format --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.json)) or (any of: *{css,scss})
  pnpm run lint-styles: any of: *{css,scss}
